:root {
  --primary-color: #7c5dfa;
  --primary-light-color: #9277ff;
  --white-color: #ffffff;
  --bg-light-color: #f8f8fb;
  --black-color: #0c0e16;
  --light-gray-color: #dfe3fa;
  --gray-color: #888eb0;
  --pink-text-color: #7e88c3;
  --orange-color: #ec5757;
  --light-orange-color: #ff9797;
}
